[Unit]
Description=vdr-update-monitor
After=avahi-linker.service
Requires=avahi-linker.service

[Service]
Type=simple
ExecStart=/usr/bin/vdr-update-monitor
KillMode=process

[Install]
WantedBy=multi-user.target
