[Unit]
Description=Watch for upd messages to forward a vdr recdir update
After=avahi-linker.service
Requires=avahi-linker.service

[Service]
Type=simple
ExecStart=/usr/bin/vdr-net-monitor
KillMode=process

[Install]
WantedBy=multi-user.target
