[Unit]
Description=vdr-update-monitor
After=network.target dbus.service
Requires=network.target dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/vdr-update-monitor
KillMode=process

[Install]
WantedBy=multi-user.target
